html {
  font-size: 18px;
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  /* overflow-y: scroll; */
  /* height: 3000px; */
  color: #fff;
  font-family: apple-system, "Noto Sans KR", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
  /* background: linear-gradient(to right, #7f53ac 0, #657ced 100%); */
}

#css {
  position: relative;
  top: 0;
  left: 0;
}

/* 전체 */
.bg {
  width: 100%;
  height: 100%;
  background: transparent;
  /* background: rgba(0,0,0,0.05); */
  position: fixed;
  z-index: 5;
  display: none; 
  transition: all .5s;
}

/* 오른쪽 차트 나오는 부분 */
.main-container {
  width: 90%;
  height: 80%;
  /* height: 300px; */
  /* background-color: transparent; */
  /* background-color: beige; */
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: all 0.3s;
  opacity: 0.6;
}

/* 버튼을 감싸는 박스 */
.btnBox {
  width: 100%;
  /* background-color: #657c; */
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

/* 닫기버튼 */
.close-btn {
  /* width: 50px; */
  border: none;
  background-color: transparent;
  font-size: 30px;
  transition: .5s;
  cursor: pointer;
}
.close-btn:hover {
  color: red;
}


/* 차트나오는 부분 */
.chart-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 40%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 0 10px;
  border: 3px solid #a8c0ff;
  background: rgba(0,0,0,0.7);
  transition: all .5s;
  position: relative;
}

.row-1 {
  box-sizing: border-box;
  width: 49%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #fff; */
  margin: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
}
.row-3 {
  width: 49%;
  height: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: #ccc; */
  margin: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
}
.row-2 {
  width: 49%;
  height: 45%;
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: #ccc; */
  margin: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
}
.row-4 {
  width: 49%;
  height: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
  /* background-color: #fff; */
  margin: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
}

.chart {
  width: 59%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  left: 0;
  /* background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%); */
  /* background-color: #cfd9df; */
  background: rgba(0,0,0,0.3);
  border: none;
  border-radius: 10px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  right: 0;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  border: 1px solid #a8c0ff;
}
.info h1, .info h2, .info h3, .info p {
  margin: 0;
  padding: 0;
}
/* 플로틀리차트 위의 밑줄 */
/* .line {
  width: 96%;
  height: 30px;
  border-bottom: 1px solid #999;
  position: absolute;
  top: 0;
} */


/* 두번째 줄 */
.w-100 {
  width: 100%;
  height: 45%;
  position: relative;
}

/* 두번째 영역 */
.content-container-left {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 55%;
  height: 80%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 0 10px;
  border: 3px solid #a8c0ff;
  background: rgba(0,0,0,0.7);
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* 세번째 영역 */
.content-container-right {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 40%;
  height: 80%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 0 10px;
  border: 3px solid #a8c0ff;
  background: rgba(0,0,0,0.7);
  transition: all .5s;
  position: absolute;
  bottom: 0;
  right: 0;
}










/* 알람(버튼) */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}


@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.4);
    box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
.alarmDot {
  width: 10px;
  height: 10px;
  /* background-color: #ff0000; */
  border-radius: 100%;
  /* opacity: 100%; */
  /* position: absolute;
  top: 38px;
  left: 38px; */
  border: none;

}
.animate_red {
  animation: pulse 2s infinite;
}
.animate_green {
  animation: pulse2 2s infinite;
}
.noAnimate {
  animation: none;
}


.modebar {
  display: none;
}

.none {
  display: none;
}

