html {
  font-size: 18px;
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  /* height: 3000px; */
  color: #fff;
  font-family: apple-system, "Noto Sans KR", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
  /* background: linear-gradient(to right, #7f53ac 0, #657ced 100%); */
}

#css {
  position: relative;
  top: 0;
  left: 0;
}

/* 전체 */
.bg {
  width: 100%;
  height: 100%;
  background: transparent;
  /* background: rgba(0,0,0,0.05); */
  position: fixed;
  z-index: 5;
  display: none; 
  transition: all .5s;
}

.main-container {
  width: 1000px;
  height: 700px;
  position: relative;
  top: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: all 0.3s;
  opacity: 0.5;
  box-sizing: border-box;
  /* background-color: #fff; */
}

.image-box {
  /* width: 100%; */
  width: 970px;
  height: 610px;
  /* display: block; */
  /* margin: 0 auto; */
  /* background: #000; */
  background-image: url('./image/SMIC_mainBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* border: 5px solid rgba(54, 55, 65); */
  
  position: relative;
}

/* 버튼을 감싸는 박스 */
.btnBox {
  width: 950px;
  /* background-color: #657c; */
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  /* text-align: right; */
}


/* 닫기버튼 */
.close-btn {
  /* width: 50px; */
  border: none;
  background-color: transparent;
  font-size: 30px;
  transition: .5s;
  cursor: pointer;
}
.close-btn:hover {
  color: red;
}

/* 왼쪽 차트 및 내용 */
.left-section {
  width: 50%;
  height: 100%;
  /* background-color: rgba(0,0,0, .2); */
  /* background-color: aqua; */
  position: absolute;
  left: 0;
}

.C1_SP_AxisLoad {
  position: absolute;
  top: 125px;
  left: 35px;
  font-size: 24px;
}

.C3_SP_AxisLoad {
  position: absolute;
  top: 300px;
  left: 35px;
  font-size: 24px;
}

.chart-box1 {
  /* width는 plotly에서 조절 */
  position: absolute;
  top: 80px;
  left: 75px;
}
.chart-box2 {
  position: absolute;
  top: 260px;
  left: 75px;
}

.impeller {
  position: absolute;
  bottom: 40px;
  left: 60px;
}
.Orbiting {
  position: absolute;
  bottom: 40px;
  left: 170px;
}
.Total {
  position: absolute;
  bottom: 40px;
  right: 170px;
}
.PowerOn {
  position: absolute;
  bottom: 40px;
  right: 60px;
}




/* 오른쪽 차트 및 내용 */
.right-section {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  /* background-color: #333; */
}

.progress-wrap {
  width: 280px;
}
.progress1 {
  position: absolute;
  top: 130px;
  left: 47px;
}
.progress2 {
  position: absolute;
  top: 240px;
  left: 47px;
}
.progress3 {
  position: absolute;
  top: 350px;
  left: 47px;
}
.progress4 {
  position: absolute;
  top: 460px;
  left: 47px;
}
.progress5 {
  position: absolute;
  top: 570px;
  left: 47px;
}

.X1_AxisLoad {
  position: absolute;
  top: 55px;
  right: 180px;
  font-size: 20px;
}
.X2_AxisLoad {
  position: absolute;
  top: 165px;
  right: 180px;
  font-size: 20px;
}
.Y1_AxisLoad {
  position: absolute;
  top: 270px;
  right: 185px;
  font-size: 20px;
}
.Z1_AxisLoad {
  position: absolute;
  top: 380px;
  right: 185px;
  font-size: 20px;
}
.Z2_AxisLoad {
  position: absolute;
  top: 495px;
  right: 185px;
  font-size: 20px;
}

.X1_AxisPos {
  position: absolute;
  top: 100px;
  right: 50px;
}
.X2_AxisPos {
  position: absolute;
  top: 210px;
  right: 50px;
}
.Y1_AxisPos {
  position: absolute;
  top: 320px;
  right: 50px;
}
.Z1_AxisPos {
  position: absolute;
  top: 430px;
  right: 50px;
}
.Z2_AxisPos {
  position: absolute;
  top: 540px;
  right: 50px;
}


/* 알람(버튼) */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}


@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.4);
    box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
.alarmDot {
  width: 10px;
  height: 10px;
  /* background-color: #ff0000; */
  border-radius: 100%;
  /* opacity: 100%; */
  /* position: absolute;
  top: 38px;
  left: 38px; */
  border: none;

}
.animate_red {
  animation: pulse 2s infinite;
}
.animate_green {
  animation: pulse2 2s infinite;
}
.noAnimate {
  animation: none;
}


.modebar,
.none {
  display: none;
}