.container {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* 왼쪽 박스 */
.blog-content {
  width: 80%;
  height: 350px;
  background: white;
  float: left;
}


/* 오른쪽 박스 */
.blog-img {
  width: 20%;
  height: 350px;
  float: left;    /* background 보다 html에서 img 태그 이용*/
}


/* 왼쪽 박스 위 */

.blog-profile {
  width: 50px;
  float: left;
}

.blog-name{
  float: left;
}


/* 왼쪽 박스 중간 글 */
.blog-write {
  margin-top: 20px;
}



/* 왼쪽 박스 아래 */
.footer {
  background-color: white;
  float: left;
}

.btn {
  width: 28px;
  height: 28px;
  margin-left: 500px;
  background-size: cover;
  background-image: url('../img/shared.jpeg');

}

.navbar li {   /* 셀렉터 문법 중 공백: 공백이 들어가면 ~안에 있는 이라는 뜻 !! */
  display: inline-block;
  width: 50px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar a {   /* 방문한 링크와 방문하지 않은 링크 설정 */
  font-size: 16px;
  text-decoration: none;
}
.navbar a:link {
  color: blue;
}

.navbar a:visited {
  color: red;
}





