.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  margin: 10px;
  box-shadow: 13px 9px 27px 5px rgba(0,0,0,0.71);
-webkit-box-shadow: 13px 9px 27px 5px rgba(0,0,0,0.71);
-moz-box-shadow: 13px 9px 27px 5px rgba(0,0,0,0.71);
border-radius: 20px;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}