@import './reset.scss';   // 다른 css (혹은 scss)파일에 저장해두고 필요해질 때마다 @import 


$mainColor : #ff0999;   // 변수에 저장해서 사용가능(색상 뿐만 아니라 px값 %값 별걸 다 집어넣을 수 있음)

// 애니메이션 시작 때 적용할 CSS  (클래스명-enter)
.wow-enter {
  opacity: 0;
}
// 애니메이션 동작 때 적용할 CSS  (클래스명-enter-active)
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}


.color {
  color: $mainColor;       // 저장했던 변수로 불러와서 사용가능
}


.alert-box {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.alert-box p {
  margin-bottom: 0;
}

.alert-box2 {
  @extend .alert-box;
  background-color: grey;
}

@mixin 함수() {
  background: honeydew;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  width: 100%;
  max-width: 500px;
}
.alert-box3 {
  @include 함수()
}

.detail-content {
  width: 100%;
  height: 100%;
  // float: left;
}


.recent-product {
  width: 150px;
  height: 100%;
  margin-left: 30px;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}