body {
  margin: 0;
  overflow: hidden;
  height: 3000px;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

/* 전체 */
.container {
  display: flex;
  width: 100vw;
}

/* 오른쪽 차트 나오는 부분 */
.content {
  /* width: 400px; */
  width: 100vw;
  height: 100vh;
  background-color: #0A1221;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}

/* 차트의 제목부분 */
.content h3 {
  text-align: center;
}

/* 차트나오는 부분 */
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  margin: 0 20px 20px;
  padding: 20px;
  position: relative;
  background-color: #ccc;
}


/* 플로틀리차트 스타일 */
.plotly-chart {
  /* background-color: #ccc; */
  /* width: 100%; */
  background-color: transparent;
  /* color: #333;/ */
  transition: .5s;
}

/* 플로틀리차트 위의 밑줄 */
.line {
  width: 96%;
  height: 30px;
  border-bottom: 1px solid #999;
  position: absolute;
  top: 0;
}

/* 닫기버튼 */
.close-btn {
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  transition: .5s;
  position: absolute;
  top: 0;
  right: -5px;
}
.close-btn:hover {
  color: red;
}

/* 알람(버튼) */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}


@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.4);
    box-shadow: 0 0 0 0 rgba(27, 206, 87, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
.alarmDot {
  width: 10px;
  height: 10px;
  /* background-color: #ff0000; */
  border-radius: 100%;
  /* opacity: 100%; */
  /* position: absolute;
  top: 38px;
  left: 38px; */
  border: none;

}
.animate_red {
  animation: pulse 2s infinite;
}
.animate_green {
  animation: pulse2 2s infinite;
}
.noAnimate {
  animation: none;
}


.modebar,
.none {
  display: none;
}