// .sass 파일은 SASS문법을 사용가능하면서 괄호 안써도 됨
// .sass파일을 쓸건지 .scss파일을 쓸건지 택 1

// ✅ nesting 문법
.main-bg h4 {
  font-size: 16px;
}
.main-bg p {
  color: rebeccapurple;
}
// nestion 문법 사용 하면 아래처럼 가능 
.main-bg {
  h4 {
    font-size: 16px;
  }
  p {
    color: rebeccapurple;
  }
}
// 큰 괄호안에 세부 괄호를 이용하여 사용
// ❗ nestion 문법을 사용하면 관련있는 class들 묶을때 좋음
// 네스팅은 두개 이상 중첩 ㄴㄴ 가능은 하지만 웬만해선 하나만


// ✅ extend 문법
%box {
  width: 200px;
  height: 200px;
  padding: 20px;
  float: left;
}
.box-color-green {
  @extend %box;
  background-color: green;
}
.box-color-red {
  @extend %box;
  background-color: red;
}
.box-color-blue {
  @extend %box;
  background-color: blue;
}
// %는 임시 클래스라고 생각하면 됨
// 변수와는 다르게 여러개 가능
// 중복된 스타일들이 많으면 1. 클래스로 묶어두고 2. @extend로 필요할 때 복사해서 사용
// extend는 임시클래스 뿐만 아니라, .과 같은 진짜 클래스에도 사용 가능
// %임시클래스는 단독으로 컴파일되지 않는 특징이 있음

.clear::after {
  content: '';
  display: block; /* 클리어 보스 박스 만들때 display block 필수 */
  clear: both;
  float: none;
}


$메인칼라 : #2a4cb2;
$main-color : red;

.background {
  background-color: $메인칼라;
}
.box {
  color: $main-color;
}
