// 긴 코드를 다른 파일로 빼는 문법 = use 사용
@use '/Sass_study/reset';
// reset.scss에 있던거 가져와달라는 의미 / 확장자는 보통 생략
// @use '파일경로';
// 컴파일 하기 싫은 파일(종속되는 파일)은 _파일명.scss로 작명


// ✅ nesting 문법
.main-bg {
  h4 {
    font-size: 32px;
  }
  p {
    color: rebeccapurple;
  }
}

// ✅ extend 문법
%box {
  width: 200px;
  height: 200px;
  padding: 20px;
  float: left;
}
.box-color-green {
  @extend %box;
  background-color: green;
}
.box-color-red {
  @extend %box;
  background-color: red;
}
.box-color-blue {
  @extend %box;
  background-color: blue;
}

.clear::after {
  content: '';
  display: block; 
  clear: both;
  float: none;
}


$메인칼라 : #2a4cb2;

.background {
  background-color: $메인칼라;
}
.box {
  color: reset.$main-color;   // 다른 파일에 있는 변수 갖다 쓰는법 = @include 파일명.mixin이름
}


// mixin
@mixin 폰트스타일($인수, $인수2) {
  font-size: $인수;
  #{ $인수2 }: 1px;
}

h2 {
  @include 폰트스타일(40px, width);
}
h3 {
  @include 폰트스타일(30px, letter-spacing);
}
h4 {
  font-size: 10px;
  letter-spacing: -1px;
}
