div,table {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.form-background {
  background-color: rgb(170, 208, 223);
  padding: 30px;
}

h1 {
  color: rgb(40, 125, 158);
}

.w-100 {
  width: 100%;
  padding: 10px;
  max-width: 700px;
  min-width: 700px;
  margin: auto;
  position: relative;
}

/* 테이블 전체 */
.table {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  /* 
  table 태그에 border-radius가 안먹을 때 아래의 두개 중 하나 적용하면 됨
  1️⃣
  table {
  border-collapse : collapse;
  border-spacing : 0;
  }

  (왼쪽위에있는 td) {
  border-top-left-radius : 5px;
  }
  2️⃣
  table {
  border-collapse : collapse;
  border-radius : 7px;
  border-style : hidden;
  box-shadow : 0 0 0 1px #666;
  }
  box-shadow라는 속성을 이용해 테두리를 가짜로 만들어내는 편법
  */
}


/* 첫번째 행 */
.row1 {
  /* border: none; */
  font-size: 15px;
  padding: 10px;
  color: rgb(113, 191, 214);
  text-align: center;
}
.row1:nth-child(2) {
  text-align: center;
}
.row1:nth-child(4), .row1:nth-child(5) {
  text-align: right;
}


/* 두번째, 세번째 행 */
.row2, .row3 {
  /* border: none; none 안써도됨!!! */
  border-top: 1px solid rgb(113, 191, 214);
  padding: 15px;
  color: rgb(113, 191, 214);
}


/* .row2:nth-child(1) {
  width: 50px;
  background-image: url(../img/camera1.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */
/* .row3:nth-child(1) {
  width: 50px;
  background: url(../img/camera2.jfif) no-repeat;
  background-size: contain;
  background-position: center;
} 를 아래와 같이 줄일 수 있다. ⭐ 뼈대와 살 분리!! ⭐ */

.row2:nth-child(1), .row3:nth-child(1) {
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
  .row2-img {
    background: url(../img/camera1.jpeg);
  }
  .row3-img {
    background: url(../img/camera2.jfif)
  }



.row2:nth-child(3), .row2:nth-child(4), .row2:nth-child(5),
.row3:nth-child(3), .row3:nth-child(4), .row3:nth-child(5)  {
  text-align: right;
}


.row2:nth-child(5), .row3:nth-child(5) {
  color: rgb(77, 110, 180);
  font-weight: bold;
}

/*
nth-child(even) = 짝수 
nth-child(odd) = 홀수
nth-child(3n+0) = 3의 배수 (3, 6, 9, 12 ... )요소에만 스타일 적용
3n + 1은 3의 배수+1 요소에만 스타일 적용
*/



/* ITEM 위 글씨 */
.font {
  color: black;
  font-size: 20px;
  font-weight: bold;
}


/* 네번째 행 */
.row4 {
  /* border: none; none 안써도됨!!! */ 
  border-top: 1px solid rgb(113, 191, 214);
  padding: 15px;
  text-align: right;
  color: rgb(77, 110, 180);
  font-weight: bold;
}


/* 링크 */
.w-100 a:link, .w-100 a:visited {
  font-size: 15px;
  color: rgb(40, 125, 158);
}


/* 버튼 */
.button {
  width: 200px;
  padding: 15px;
  font-size: 15px;
  position: absolute;
  right: 10px;
  color: white;
  background-color: navy;
  border: none;
  border-radius: 5px;

  cursor: pointer;  /* 버튼을 누름직하게 만들기 */
}
/* pseudo-class */
/* 버튼에 마우스 갖다 댔을때의 스타일 */
.button:hover {
  background-color: chocolate;  
}

/* 커서찍혀 있을때(마우스로 누르고 나서)의 스타일 */
.button:focus {
  background-color: cadetblue;
}

/* 버튼을 누르고 있는 상태일때 스타일 */
.button:active {
  background-color: black;
}

/* ⭐ :hover, :focus, :active 순서대로 적용 */

/* pseudo-class 종류 */

/* :any-link = 방문 전, 방문 후 링크 한번에 선택할 때 */
/* :playing = 동영상, 음성이 재생중일 때 */
/* :paused = 동영상, 음성이 정지시 */
/* :autofill = input의 자동채우기 스타일 */
/* :disabled = disabled된 요소 스타일 */
/* :checked = 체크박스나 라디오버튼 체크되었을 때 */
/* :blank = input이 비었을 때 */
/* :valid = 이메일 input 등에 이메일 형식이 맞을 경우 */
/* :invalid = 이메일 input 등에 이메일 형식이 맞지 않을 경우 */
/* :required = 필수로 입력해야할 input의 스타일 */
/* :nth-child(n) = n번째 자식 선택 */
/* :first-child = 첫째 자식 선택 */
/* :last-child = 마지막 자식 선택 */

/*
a:link { 
  color : red; 방문 전 링크 
} 
a:visited { 
  color : black; 방문 후 링크 
} 

:link를 붙이면 방문 전 링크
:visited를 붙이면 방문 후 링크에 스타일을 넣을 수 있습니다.
모든 링크의 밑줄제거는 그냥 a태그에 text-decoration : none 붙이면 됩니다. 
*/
