/* --- profile component --- */
.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: rgb(235, 235, 235);
  box-shadow: 4px 3px 11px -1px rgba(0,0,0,0.86);
  -webkit-box-shadow: 4px 3px 11px -1px rgba(0,0,0,0.86);
  -moz-box-shadow: 4px 3px 11px -1px rgba(0,0,0,0.86);
  border-radius: 5px;
  margin: 10px;
}


/* --- avatar component --- */
.avatar {
  /* avatar를 기준으로 */
  position: relative;
  /* 사진의 너비, 높이와 같게 */
  width: 200px;
  height: 200px;
  /* 가운데 정렬을 위해 margin: auto */
  margin: auto;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* background-size: contain;
  background-position: center; */
}

.new-tag {
  background-color: rgba(0, 255, 255, 0.777);
  color: #333;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 10%;
  left: 80%;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}