.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*세로칸 갯수&사이즈 fr = 배율 */
  grid-template-rows: 100px 100px 100px;  /*가로칸 갯수&사이즈*/
  /* grid-gap: 10px;    격자 간격 */

  grid-template-areas:
    "header header header header"
    "side 콘텐츠 콘텐츠 콘텐츠 "
    "side 콘텐츠 콘텐츠 콘텐츠 "
  ;
}

.grid-container div {
  border: 1px solid black;
}


/* 그리드 로우 및 컬럼 */
/* .grid-nav {
  grid-column: 1 / 5;
}

.grid-sidebar {
  grid-row: 2 / 5;
}

.grid-content {
  grid-row: 2 / 5;
  grid-column: 2 / 5;
} */

/* 그리드 에어리어 */
.grid-nav {
  grid-area: header;
}

.grid-sidebar {
  grid-area: side;
}

.grid-content {
  grid-area: 콘텐츠;
}